<html>
  <head>
    <style>
      body {
        overflow: hidden;
        background: black;
      }

      #twitch-embed {
        width: 600px;
      }

      iframe {
        border: none;
      }
    </style>
  </head>
  <body>
    <!-- Add a placeholder for the Twitch embed -->
    <!-- <div id="twitch-embed"></div> -->
    <iframe
      src="https://player.twitch.tv/?mvdwfoundation&parent=mvdwf.bitwiseworkshop.nl"
      height="338"
      width="600"
      allowfullscreen="true">
    </iframe>
  </body>
  
</html>




