<html>
  <head>
   <!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script> -->
   <style>
     @import url('https://fonts.googleapis.com/css2?family=Amiko&display=swap');
     body {
       background: #00000000;
       overflow: hidden;
     }

     .stopwatch {
       background-color: #0026ffa3;
       color: white;
       font-family: Amiko;
       font-weight: bold;
       width: fit-content;
       text-align: center;
       padding: 10px;
       font-size: 35px;
       border-radius: 5px;
     }
   </style>
  </head>
  <body>
   <div class="stopwatch"><%= titleText %></div>
  </body>
</html>